@import "reset.scss";
@import "mixins/sticky-footer.scss";
@import "utils/variables.scss";

body{
  font: 100% $main-font;
  color: $primary-color;
}

.head {
  height: 60px;
  background: $header-background;
  color: $header-text-color;
  display: flex;
  align-items: center;
  padding: 0 52px;
}

.main-section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
  padding: 20px 40px;
  overflow-y: auto;
}

.dash {
  margin: 10px auto;
  text-align: center;
}

.donut {
  margin: 12px;
}

.chart-block {
  margin: 12px;
  position: relative;
  display: inline-block;
  text-align: center;

  .legend-box {
    display: inline-block;
    margin: 0 12px;

    .title {
      text-transform: capitalize;
      display: block;
    }

    .percent {
      font-weight: 500;
      margin: 0.3em;
    }

    .value {
      color: $legent-value-color;
    }
  }
}
