@import "reset.scss";
@import "mixins/sticky-footer.scss";

$primary-color: #333;
$main-font: Helvetica, sans-serif;

body {
  font: 100% $main-font;
  color: $primary-color;
}

header {
  height: 60px;
  background: #88C752;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 52px;
}

main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
  padding: 20px 40px;
  overflow-y: auto;
}

.stats {
  margin: 10px auto;
  text-align: center;
}
.pie {
  margin: 12px;
}

#visits-block {
  position: relative;
  display: inline-block;
  text-align: center;
  .legend {
    li {    
      display: inline-block;
      margin: 0 12px;

      .title {
        text-transform: capitalize;
        display: block;
      }
      .percent {
        font-weight: 500;
        margin: 0.3em;
      }
      .value {
        color: #cccccc;
      }
    }
  }
}
